{% extends 'enroll/base.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-4">
     <h4 class="text-center alert alert-success">Add New Student</h4>
    <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" class="btn btn-secondary" value="Add">
    </form>
  </div>  

    <div class="col-sm-7 offset-1">
     {% if stud %}
        <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for st in stud %}
        <tr>
        <th scope="row">{{st.id}}</th>
        <td>{{st.name}}</td>
        <td>{{st.email}}</td>
        <td>{{st.password}}</td>
        <td>
            <a href="{% url 'update' st.id %}" class="btn btn-outline-primary btn-sm">Update</a>
            <form action="{% url 'delete' st.id %}" method="post" class="d-inline">
                {% csrf_token %}
            <input type="submit" class="btn btn-outline-danger" value="Delete">

            </form>
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
        </div>
    </div>

     {% else %}
     <h4 class="text-center alert alert-success">Show All Student Details</h4>
     {% endif %}
    






{% endblock content %}